<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Страница книги</title>
</head>
<body>
<p th:text="${book.getBook_title() + ', ' + book.getBook_author() + ', ' + book.book_year_published}">VALUE</p>
<p th:text="${book.getBook_id()}">VALUE</p>

<a th:href="@{/books/{id}/edit(id=${book.getBook_id()})}">Изменить</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id()})}">
  <input type="submit" value="Удалить!"/>
</form>
</body>
</html>
